.contato {
	background: #EAF2FD;
	display: flex;
	width: 92%;
	height: 30%;
	padding: 2rem;

}
.contato__imagem {
	display: flex;
	width: 60%;
	max-width: 464px;
	padding-left: 5%;
}
.contato__caixa {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 5%;
	width: 100%;
}
.contato__descricao {
	font-family: Raleway;
	font-style: normal;
	font-size: 1rem;
	line-height: 1.2rem;
	color: #464646;
	padding: 1%;
	width: 90%;
	
}
.contato__formulario {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	
}
.contato__informacao {
	display: flex;
	flex-direction: column;
	background: white;
	font-family: Raleway;
	font-style: normal;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	color: #464646;
	width: 90%;
	height: 56px;
	left: 0px;
	top: 264px;
	margin: 1%;

}
.mensagem {
	position: static;
	width: 90%;
	height: 96px;
	top: 0px;
	background: #FFFFFF;
	border-radius: 4px;
}
.contato__input {
	border: transparent;
	height: 56px;
	
}
.contato__input:hover {
	border: 1px solid #2A7AE4;
}
.contato__botao {
	position: static;
	width: 165px;
	height: 51px;
	left: 0px;
	top: 545px;
	background: #2A7AE4;
	border: transparent;
	box-sizing: border-box;
	color: white;
	transform: 1s;
	margin: 2%;
}
.contato__botao:hover {
	cursor: pointer;
	font-weight: bold;
	border: transparent;
	cursor: pointer;
	font-weight: bold;
	background: #4D4DFF;
}
@media (max-width: 768px){
		.contato {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
		}
		.contato__imagem {
			width: 80%;
		}

	}