.contato {
	background: #EAF2FD;
	display: flex;
	width: 100%;
	height: 30%;

}
.contato__imagem {
	display: flex;
	width: 60%;
	max-width: 450px;
	padding-left: 5%;
	
}
.contato__caixa {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 5%;
	width: 100%;

}
.contato__descricao {
	font-family: Raleway;
	font-style: normal;
	font-size: 1rem;
	line-height: 1.2rem;
	color: #464646;
	padding: 1%;
	width: 90%;
	
}
.contato__formulario {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	
}
.contato__informacao {
	display: flex;
	flex-direction: column;
	background: white;
	font-family: Raleway;
	font-style: normal;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
	color: #464646;
	width: 70%;
	height: 50px;
	left: 0px;
	top: 264px;
	margin: 1%;
}
.mensagem {
	height: 200px;
}
.contato__input {
	border: none;
	height: 40px;
	
}
@media (max-width: 768px){
		.contato {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
		}

	}