.skills {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
}

.subtitulo {
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 38px;
	text-align: center;
	color: #464646;
}
.skills__itens {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 2%;
	padding: 16px;

	
}
.skills__item {
	background: #FFFFFF;
	width: 150px;
	height: 120px;
	margin: 2%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 3%;
	flex-wrap: wrap;

}
.skills__descricao {
	padding: 10px 0 0 0;
	color: #464646;
	font-weight: bold;
}
.fonte {
	font-size: 1px;
	align-self: flex-end;
}
@media (max-width: 768px){
		.skills {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 16px;
			padding-left: calc((100% - 156px)/2);
        	padding-right: calc((100% - 156px)/2);
		}
		.skills__item {
			
			width: 110px;
			height: 110px;
			margin: 1%;
			
}

	}